<ul class="quarto-listing quarto-listing-default">
<% for (const item of items) { %>
<li class="listing-item">
  <a href="<%- item.path %>">
    <div class="listing-title"><%- item.title %></div>
  </a>
  <div class="listing-meta">
    <span class="listing-date"><%- item.date %></span>
    <span class="listing-time"><%- item.time %></span>
  </div>
  <div class="listing-speakers">Speaker: <%- item.speakers %></div>
  <div class="listing-discussant">Discussant: <%- item.discussant %></div>
  <% if (item.description) { %>
  <div class="listing-description"><%- item.description %></div>
  <% } %>
</li>
<% } %>
</ul>
