<div class="list quarto-listing-default">
<% for (const item of items) { %>
<div class="quarto-post" <%= metadataAttrs(item) %>>
<div class="metadata">
<a href="<%- item.path %>" class="no-external">
<% if (item.date || item.time) { %>
<div class="listing-date"><% if (item.date) { %><%- item.date %><% } %><% if (item.time) { %> <%- item.time %><% } %></div>
<% } %>
<% if (item.speakers) { %>
<div class="listing-speakers">Speaker: <%- item.speakers %></div>
<% } %>
<% if (item.discussant) { %>
<div class="listing-discussant">Discussant: <%- item.discussant %></div>
<% } %>
</a>
</div>
<div class="body">
<h3 class="no-anchor listing-title"><a href="<%- item.path %>" class="no-external listing-title"><%- item.title %></a></h3>
<% if (item.description) { %>
<div class="listing-description"><a href="<%- item.path %>" class="no-external"><%- item.description %></a></div>
<% } %>
</div>
</div>
<% } %>
</div>
